<h3> Hello, <%= username %> </h3>
<hr />

<% if new_episodes.empty? %>
  <h2> There are no new episodes! </h2>
<% else %>
  <h2> New Episodes: </h2>
  <% new_episodes.each do |serie| %>
    <% serie[:new_episodes].each do |episode| %>
      <span style="color: red; font-weight: bold">
        <%= serie[:title] %>
      </span>

      - <%= episode.name %>

      [<%= episode.season_number %>E<%= episode.number %>]
      <span style="color: green; font-weight: bold">*new*</span>
      <br />
    <% end %>
  <% end %>
<% end %>

<hr />

<h4> Search for Movie: </h4>


<form action="/query" method="post" class="form-horizontal">
  <div class="form-group">
    <div class="col-md-3">
      <input type="text" name="movie_name" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-blank">Advance!</button>
</form>


<hr />
<% if latest.empty? %>
  <h4> You haven't seen any movies! </h4>
<% else %>
  <h4> Latest movies seen: </h4>
<% end %>

<br />
<% latest.reverse.each do |movie| %>
<%= movie.title %> (<%= movie.year %>) <br />
<% end %>
