<h1>
  <%= movie.title %> (<%= movie.year %>)
</h1>
<hr />

<div class="row">
  <div class="col-md-3">
    <img src="<%=movie.poster%>" height="90%" width="90%"/>
  </div>
  <div class="col-md-6">
    <table>
      <tr>
        <td><h4>Length: <%= movie.length %> minutes</h4>   </td>
      </tr>
      <tr>
        <td><h4>Languages: <%= movie.languages.join(', ') %> </h4></td>
      </tr>
      <tr>
        <td><h4>Genres: <%= movie.genres.join(', ') %></h4></td>
      </tr>
      <tr> <td> <br /> </td></tr>
      <tr>
        <td>
        <form action="/add" method="post" class="form-vertical">
        <h4>Add movie to registry:</h4>
          <div class="form-group col-md-7">
            <input type="text" placeholder="YYYY-MM-DD" name="seen_at" class="form-control" />
          </div>
          <% if series == 'true' %>
          <div class="form-group col-md-7">
            <input type="text" placeholder="Season" name="season" class="form-control" />
          </div>
          <div class="form-group col-md-7">
            <input type="text" placeholder="Episode" name="episode" class="form-control" />
          </div>
          <% end %>
          <input type="hidden" name="id" value="<%= movie.id %>" />
          <input type="hidden" name="series" value="<%= series %>" />

          <button type="submit" class="btn btn-blank">Submit</button>
        </form>
        </td>
      </tr>
    </table>
  </div>
</div>

<hr />
<h4><%= movie.plot %></h4>
